.upload-screen {
  padding: 0px;
  margin-top: 70px;
}
.image-area {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.image-area img {
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
}
.right-content-area {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(255, 146, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 20px;
}
.tab-btns {
  padding: 0;
}
.tab-btns {
  padding: 0;
  list-style: none;
  margin: 0;
}
.tab-btns li {
  display: inline-block;
  width: 50%;
}
.tab-btns li button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
  border-bottom: 2px solid rgb(238 238 238);
  background: rgba(33, 33, 33, 0.08);
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.tab-btns li button.active {
  color: #ff7700;
  background: #fff;
  border-bottom: 2px solid #ff7700;
}
.solid-bg {
  /* height: 500px;
    overflow: hidden;
    overflow-y: scroll; */
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
.solid-bg h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #ff7700;
  margin-bottom: 15px;
}
.solid-bg h6 span {
  color: #000000;
}
.solid-bg h6 span i {
  color: #ff7700;
  margin-left: 5px;
}
.solid-bg h6 span.picker {
  float: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
}
.color-picker {
  height: 23px;
  display: inline-block;
  width: 23px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
  box-shadow: 0 0 0 0 rgba(248, 164, 76, 0.1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.solid-bg-image {
  display: grid;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-gap: 9px;
  text-align: center;
}
.solid-bg-image img {
  width: 100%;
}

.solid-image p {
  font-weight: 500;
  font-size: 11px;
  line-height: 110%;
  letter-spacing: 0.5px;
  color: #232121;
  margin: 0;
  padding: 5px;
}
.solid-arrow {
  padding-top: 17%;
  padding-right: 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
.solid-arrow i {
  font-size: 20px;
}

.solid-bg-image2 {
  display: grid;
  grid-template-columns: 18.5% 18.5% 18.5% 18.5% 18.5%;
  grid-gap: 9px;
  text-align: center;
}
.solid-image img {
  width: 100%;
}

.solid-image,
.logo-image img {
  background: transparent;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 4px;
  max-height: initial;
  height: auto;
  min-height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}
.solid-image.active,
.solid-image.active .solid-image:hover,
.solid-image:hover,
.logo-image img.active,
.logo-image img:hover {
  border: 1px solid #ff7700;
}
.solid-image p {
  font-weight: 500;
  font-size: 11px;
  line-height: 110%;
  letter-spacing: 0.5px;
  color: #232121;
  margin: 0;
  padding: 5px;
}
.spyne-image img {
  width: auto;
  background: url('https://storage.googleapis.com/spyne-website/self-serve/Automobile/more-bg.png');
  padding: 10px 0 0 10px;
  background-repeat: no-repeat;
  margin-top: 10px;
  box-shadow: 0 0 0 0 rgba(248, 164, 76, 0.1);
  transform: scale(1);
  animation: pulse 2s infinite;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}
.spyne-image h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #ff7700;
  margin: 0 !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(248, 164, 76, 0.1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(248, 164, 76, 0.1);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(248 164 76 / 1%);
  }
}
.solid-bg h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
  margin: 0;
  padding: 20px 0 0;
}
.solid-bg h5 i {
  color: #fe590a;
  font-size: 2.3rem;
  margin-right: 10px;
  vertical-align: middle;
}
.main-bg-row {
  height: 450px;
  overflow: hidden;
  overflow-y: scroll;
}
.or-area {
  padding: 35px 10px 0;
  text-align: center;
}
.number-plate .solid-image {
  padding: 20px;
  text-align: center;
}
.number-plate .solid-image p {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
  margin: 0;
  padding: 10px 5px 0;
}

.number-logo-upload {
  background: #ffffff;
  border: 1px dashed #ff7700;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 15px;
  text-align: center;
}
.number-logo-upload p {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.25px;
  color: #000000;
  margin: 0 0 5px;
}
.number-logo-upload small {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.25px;
  color: #000000;
}
.number-logo-upload small span {
  color: #ff7700;
}
.logo-image img {
  padding: 3px;
  width: 65%;
  margin: 10px auto;
}
.logo-image p {
  font-weight: normal;
  font-size: 9px;
  line-height: 9px;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}
.bg-blurr label {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
}
.bg-blurr {
  padding: 0 5px;
}
.number-logo button {
  margin: 35px auto 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: auto;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
  transition: 0.3s ease-in-out;
}

.number-logo button:hover {
  box-shadow: 0px 4px 10px #ff7700;
}
